.photo {
    width: 97px;
    height: 97px;
    margin: 10px;
    border: solid grey 2px;
    float: left;
}
.post {
    margin-bottom: 10px;
    border: solid lightgrey 5px;
    width: 90%;
    float: left;
}
.container {
    max-width: 900px;
}